/* Community.css */

.community-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .community-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .community-image {
    flex: 1;
    margin-right: 20px;
  }
  
  .user-comments {
    flex: 2;
  }
  
  .comment {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .comment img {
    width: 50px; 
    height: 50px; 
    margin-right: 10px;
  }

  .article-button,
  .event-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #3498db; /* Button color */
    color: #fff; /* Text color */
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .article-button:hover,
  .event-button:hover {
    background-color: #2980b9; /* Hover color */
  }